body {
	background-color: #333333;
}

.playground {
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: 20% 20% 20%;
}
.playground.bloc {
	border-left: 2px solid #000000;
	background-color: #999999;
}

